$page_width: 800px
$output_color: #555
$button_color: #aad
$light_button: lighten($button_color, 10%)
$dark_button: darken($button_color, 20%)
$button_border_radius: 3px
$background: #e0e7ff
$border_color: darken($button_color, 30%)


@mixin nice-border
	$radius: 5px

	border: solid 1px $border_color
	border-radius: $radius
	-moz-border-radius: $radius
	-webkit-border-radius: $radius
	padding: 10px

@mixin button-border($color)
	border:
		color: $color
		width: 1px
		style: solid

@mixin rounded-corners($topbottom, $leftright, $radius)
	border-#{$topbottom}-#{$leftright}-radius: $radius
	-moz-border-radius-#{$topbottom}#{$leftright}: $radius
	-webkit-border-#{$topbottom}-#{$leftright}-radius: $radius

@mixin bottom-shadow
	background: url(/images/bottom_shadow.png) repeat-x bottom right

@mixin top-shadow
	background: url(/images/top_shadow.png) repeat-x top left

@mixin monospaced
	font-family: Consolas, Lucida Console, monospace



body
	font-family: Arial, sans-serif
	margin: 3px 15px
	background-color: $background
	max-width: $page_width

.title
	font-size: 40px
	color: #448
	font-weight: bold
	letter-spacing: 1px

#input_wrapper
	padding-right: 20px

#input
	@include nice-border
	@include top-shadow
	background-color: white
	font-size: 11px
	width: 100%

#results .result_panel
	@include nice-border
	@include top-shadow
	font-size: 0.9em
	color: $output_color
	background-color: white

	padding: 10px
	position: absolute
	top: 0px
	left: 0px
	right: 0px
	min-height: 100px

.result_panel#code_output
	@include monospaced
	font-size: 11px


.group
	clear: both
	position: relative
	margin: 0px 5px 5px 0px

#go_btn
	margin: 0px auto
	padding-top: 2px
	position: relative
	width: 150px
	height: 70px
	font-size: 60px
	line-height: 1em
	font-family: Arial Black
	text-align: center
	cursor: pointer
	color: $button_color
	text-shadow: transparentize(black, 0.8) 0px 2px 4px

#go_btn:hover
	color: $dark_button
	padding-top: 0px
	height: 72px
	text-shadow: transparentize(black, 0.7) 0px 4px 8px



#output_view_buttons
	position: absolute
	right: 0px
	bottom: 0px

.buttons
	float: left
	color: white

	.button
		@include button-border($dark_button)
		@include bottom-shadow
		background-color: $button_color
		border-right-width: 0px
		font-size: 15px
		padding: 3px 12px
		float: left
		cursor: pointer
		line-height: 1.2em
		height: 1.2em

	.button:hover
		background-color: darken($button_color, 10%)

	.button.left_most
		@include rounded_corners(top, left, $button_border_radius)
		@include rounded_corners(bottom, left, $button_border_radius)

	.button.right_most
		@include rounded_corners(top, right, $button_border_radius)
		@include rounded_corners(bottom, right, $button_border_radius)
		border-right-width: 1px

	.button.selected
		@include top-shadow
		background-color: darken($button_color, 15%)
	.button.selected:hover
		background-color: darken($button_color, 15%)

	.button#visual_output_btn
		text-decoration: italic
	.button#code_output_btn
		@include monospaced

.clear
	clear: both