!!! XML
!!! Transitional
%html
  %head
    %title Formattr
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    %script(type="text/javascript" src="/main.js")
    %link{:rel => "stylesheet", :href => "/main.css", :type => "text/css", :media => "all"}
    = haml :analytics
  %body
    .title Formattr
    .group
      .buttons#format_buttons
        .button.left_most#rdoc_btn rDoc
        .button.right_most#sass_btn Sass
        .clear
      .clear
    .group
      #input_wrapper
        %textarea#input(rows="12")
    .group#middle_buttons
      #go_btn GO!
      .buttons#output_view_buttons
        .button.left_most#visual_output_btn Visual
        .button.right_most#code_output_btn&= '<code>'
        .clear
      .clear
    .group
      #results
        #visual_output Output...
        #code_output Output...
    <a href="http://github.com/danielbeardsley/formattr"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" /></a
