!!! XML
!!! Transitional
%html
  %head
    %title Formattr
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    %script(type="text/javascript" src="/main.js")
    %link{:rel => "stylesheet", :href => "/main.css", :type => "text/css", :media => "all"}
  %body
    .label In
    %textarea#input(cols="80" rows="12")
    %button(id="rdoc_btn") rDoc it!
    .label Out
    #results Output...
