!!! XML
!!! Transitional
%html
  %head
    %title Formattr
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    %script(type="text/javascript" src="/main.js")
    %link{:rel => "stylesheet", :href => "/main.css", :type => "text/css", :media => "all"}
  %body
    .title Formattr
    .group
      .label In
      %textarea#input(rows="12")
    .group.buttons
      %button(id="rdoc_btn") rDoc
    .group
      .label Out
      #results Output...
    <a href="http://github.com/danielbeardsley/formattr"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" /></a
